<div class="spacenav">
    <div class="logo">
        <div class="extremo-i">o</div>
        <div class="dentro1">l</div>
        <div class="dentro2">m</div>
        <div class="dentro3">o</div>
        <div class="dentro4">s</div>
        <div class="extremo-d">.</div>
    </div>
    <div class="enlaces">
        <div class="smartphone">
            <div class="caja">
                <!-- <div class="linea"></div>
                <div class="linea"></div>
                <div class="linea"></div> -->
            </div>
            
        </div>
        <div class="pc">
            <div class="buttons">
                <a class="b1 button" href="#home">Home</a>
                <a class="b2 button" href="#skills">Skills</a>
                <a class="b3 button" href="#projects">Projects</a>
                <a class="b4 button" href="#contact">Contact</a>
            </div>
        </div>
    </div>    
</div>
