.spacenav {
    display: flex;
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    font-size: 20px;
    /* font-weight: 652; */
    font-weight: 600;
}

.enlaces {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Hamburguer */

.caja {
    display: flex;
    flex-direction: column;
    height: 21px;
    width: 26px;
    justify-content: space-around;
}

.linea {
    display: flex;
    height: 3px;
    border-radius: 3px;
    width: 100%;
    background-color: black;
}

/* Botones para PC */

.buttons {
    display: none;
    flex-direction: row;
}

.button {
    display: flex;
    padding: 5px 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-weight: 500;
    border-radius: 20px;

}

.button:hover {
    background-color: rgba(0,0,0,0.05);
    border-radius: 20px;
    color: rgb(94, 94, 94);
}

