/* Smartphone */
@media (max-width: 600px) {
    .photo {
        display: flex;
        width: 100%;
        margin-top: 20px;
        border-radius: 10px;
        overflow: hidden;
    }

    .margin {
        margin-bottom: 20px;
    }
    
    .photo img {
        width: 100%;
        height: 100%;
        filter: brightness(110%);
    }    
}


/* PC */

@media (min-width: 600px) {


    .photo {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        background-image: url(/assets/home/marc-profile2.jpg);
        background-position: 10%;
        background-size: cover;
        filter: brightness(110%);
    }

    .home-left {
        display: flex;
        width: 45%;
        flex-direction: column;
    
    }
    
    .margin {
        margin-bottom: 20px;
    }
    
    .home-right {
        display: flex;
        width: 45%;
    
    }
    


}



