<div class="smartphone">
    <div class="space">
        <div class="t title">Hi, I'm Marc</div>
        <div class="subtitle">I'm a Full Stack UX/UI Developer from Barcelona</div>
        <div class="t1 text margin">I'm a 22 year old self-taught Front End Developer from Barcelona. In September of 2016 I started the Business and Technology degree at the Autonomous University of Barcelona.  </div>
        <div class="t2 text margin">During this stage I've been doing subjects oriented to web development and I've really discovered my true passion. So I asked myself what would it be working on what I like. </div>
        <div class="t3 text margin">Now I'm studying the Master's Degree in High Performance Web Programming in La Salle. </div>
        <div class="photo">
            <img src="/assets/home/marc-profile2.jpg" alt="">
        </div>
    </div>
</div>

<div class="pc">
    <div class="home-left">
        <div class="t title">Hi, I'm Marc</div>
        <div class="subtitle">I'm a Full Stack UX/UI Developer from Barcelona</div>
        <div class="t1 text margin">I'm a 22 year old self-taught Front End Developer from Barcelona. In September of 2016 I started the Business and Technology degree at the Autonomous University of Barcelona.  </div>
        <div class="t2 text margin">During this stage I've been doing subjects oriented to web development and I've really discovered my true passion. So I asked myself what would it be working on what I like. </div>
        <div class="t3 text margin">Now I'm studying the Master's Degree in High Performance Web Programming in La Salle. </div>

    </div>
    <div class="home-right">
        <div class="photo">
    </div>

    </div>
</div>

