<div class="space spacecontact">
  <div class="c">Let's build something together</div>
  <div class="arrows">
    <div class="arrow">
      <a class="mail" href="mailto:olmoscodes@gmail.com">
        <i class="fa fa-arrow-right" aria-hidden="true"></i> Email me
      </a>
    </div>
  </div>
</div>
