.spacecontact {
  justify-content: center;
  margin: 0;
}

.c {
  display: flex;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.arrows {
  display: flex;
}

.arrow {
  display: flex;
  margin-right: 40px;
  width: 100px;
}

.arrow:hover a {
  margin-left: 4px;
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.808);
}

.arrow a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
