.project-button {
    display: flex;
    position: absolute;
    bottom: 20px;
    padding: 5px 10px;
    left: 20px;
    height: auto;
    width: auto;
    background-color: grey;
    border-radius: 20px;
    color: white;
    opacity: 0%;
    transition: 0.5s;
}

@media (max-width: 600px) {
    .projects {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    
    .project {
        display: flex;
        align-items: center;
        width: 100%;
        /* border: 1px solid black; */
        flex-direction: column;
        margin: 30px 0px;
    }
    
    .project-photo {
        display: flex;
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 10px;
        position: relative;
        transition: 0.5s;
    }
    
    .project-photo:hover{
        width: 105%;
    }

    .project-photo:hover .project-button{
        opacity: 100%;
        cursor: pointer;
    }
    
    .project-photo img {
        width: 100%;
        height: 100%;
    }
    
    .project-title {
        display: flex;
        width: 100%;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 7px;
    }
    
    .project-text {
        display: flex;
        font-size: 15px;
        font-weight: 300;
    }

}

@media (min-width: 600px) {
    .projects {
        display: flex;
        position: relative;
        flex-direction: row;
        margin-bottom: 50px;
        margin-top: 10px;
        /* max-height: 370px; */
    }
    
    .project {
        display: flex;
        align-items: center;
        max-width: 30%;
        /* border: 1px solid black; */
        flex-direction: column;
        margin: 0px 30px 30px 0px;
    }

    
    .project-photo {
        display: flex;
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 10px;
        transition: 0.5s;
        position: relative;

    }
    
    .project-photo:hover{
        width: 105%;
    }

    .project-photo:hover .project-button{
        opacity: 100%;
        cursor: pointer;

    }
    
    .project-photo img {
        width: 100%;
        height: 100%;
    }
    
    .project-title {
        display: flex;
        width: 100%;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 7px;
    }
    
    .project-text {
        display: flex;
        font-size: 15px;
        font-weight: 300;
    }

}

