<div class="space-for-safari">
    <div class="space">
        <div class="p title">Projects</div>
        <br>
    
        <div class="projects">
            <div class="p1 project">
                <div class="project-photo">
                    <img src="/assets/project/p1.png" alt="">
                    <a href="https://pratcarnissersweb.web.app/">
                        <div class="project-button">Visit the site</div>
                    </a>
                </div>
                <div class="project-title">Prat Carnissers</div>
                <div class="project-text">My current work in progress, an interactive website with GSAP scroll animations. It is made for a butcher located in Cardedeu</div>
            </div>
            <div class="p2 project">
                <div class="project-photo">
                    <img src="/assets/project/p2.png" alt="">
                    <a href="https://youractivity-tfg-3190a.web.app/">
                        <div class="project-button">Visit the site</div>
                    </a>
                </div>
                <div class="project-title">Your activity</div>
                <div class="project-text">YourActivity is a website platform dedicated to helping manage the extracurricular activities of any school</div>
            </div>
        </div>
    
    </div>
</div>

