html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.011em;
}

app-root {
    display: flex;
    width: 100%;
    height: 100%;
}

app-navbar {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    /* background-color: rgb(248, 248, 248); */
    background-color: white;
    z-index: 10;
}

app-display {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 0;

}

.space {
    display: flex;
    height: 100%;
    width: 85%;
    flex-direction: column;
    margin-top: 40px;
}

.title {
    display: flex;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.subtitle {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.text {
    display: flex;
    font-weight: 300;
}


app-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    min-width: 100%;
    height: 100%;
    /* min-height: calc(100% - 70px); */
    background-color: rgb(250, 250, 250);

}

app-skills {
    display: flex;
    padding-top: 70px;
    justify-content: center;
    min-width: 100%;
    background-color: rgb(250, 250, 250);

}

app-projects {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    min-width: 100%;
    background-color: rgb(250, 250, 250);

}

app-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    min-width: 100%;
    min-height: 30%;
    padding: 80px 0px;
}

/* Media queries para redimensionar en 2 tamaños */

.space-for-safari {
    display: flex;
    width: 100%;
    justify-content: center;
}

@media (max-width: 600px) {
    .pc {
        display: none;
    }
    .smartphone {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    @media not all and (min-resolution:.001dpcm) { 
        @supports (-webkit-appearance:none) { 
            app-home {
                display: block;
            }
        
            app-skills {
                display: block;
            }

        
            app-projects {
                display: block;
            }
        
            app-contact {
                display: block;
            }
        
        } 
    }

    app-home {
        min-height: auto;
        height: auto;
        max-height: auto;
    }

    app-skills {
        min-height: auto;
        height: auto;
        max-height: auto;
    }

    app-projects {
        min-height:auto;
        height: auto;
        max-height: auto;
    }

    app-contact {
        min-height:auto;
        height: auto;
        max-height: auto;
    }



  }

@media (min-width: 600px) {
    .smartphone {
        display: none;
    }
    .pc {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 70%;
    }

    /* @media not all and (min-resolution:.001dpcm) { 
        @supports (-webkit-appearance:none) { 
            app-home {
                display: block;
            }
        
            app-skills {
                display: block;
            }

        
            app-projects {
                display: block;
            }
        
            app-contact {
                display: block;
            }
        
        } 
    } */


    app-home {
        min-height: calc(100% - 70px);
        height: calc(100% - 70px);
        max-height: calc(100% - 70px);
    }

    app-skills {
        min-height: calc(100% - 70px);
        height: calc(100% - 70px);
        max-height: calc(100% - 70px);
    }

    app-projects {
        min-height: calc(100% - 70px);
        height: calc(100% - 70px);
        max-height: calc(100% - 70px);
    }



  }