<div class="space-for-safari">
    <div class="space">
        <div class="s title">Skills</div>
        <div class="skills">
            <div class="skill"> <img src="/assets/skills/angular.png" alt=""></div>
            <div class="skill js"> <img src="/assets/skills/js.png" alt=""></div>
            <div class="skill"> <img src="/assets/skills/html.png" alt=""></div>
            <div class="skill css"> <img src="/assets/skills/css.png" alt=""></div>
            <div class="skill"> <img src="/assets/skills/firebase.png" alt=""></div>
            <div class="skill csharp"> <img src="/assets/skills/csharp.png" alt=""></div>
            <div class="skill cplusplus"> <img src="/assets/skills/c++.svg" alt=""></div>
            <div class="skill"> <img src="/assets/skills/docker.png" alt=""></div>
            <div class="skill"> <img src="/assets/skills/finalcut.png" alt=""></div>
            <div class="skill kubernetes"> <img src="/assets/skills/kubernetes.png" alt=""></div>
            <div class="skill light"> <img src="/assets/skills/lightroom.png" alt=""></div>
            <div class="skill mongodb"> <img src="/assets/skills/mongodb.webp" alt=""></div>
            <div class="skill"> <img src="/assets/skills/mysql.png" alt=""></div>
            <div class="skill photoshop"> <img src="/assets/skills/photoshop.png" alt=""></div>
            <div class="skill"> <img src="/assets/skills/php.png" alt=""></div>
            <div class="skill python"> <img src="/assets/skills/python.png" alt=""></div>
        </div>
    </div>
    
</div>
