@media (max-width: 600px) {
    .skills {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* border: 1px solid black; */
        height: 100%;
        width: 100%;
        margin-top: 20px;
    }
    
    .skill {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 130px;
        min-width: 130px;
        height: 130px;
        width: 130px;
        border-radius: 20px;
        background-color: rgba(0,0,0,0.03);
        position: relative;
        filter: grayscale(100%);
        margin: 10px;
    }
    
    .skill:hover {
        filter: grayscale(0%);
    }
    
    .skill:hover img {
        opacity: 100%;
    }
    
    .skill img {
        position: absolute;
        width: 50%;
        opacity: 60%;
    }
    
    .js img{
        width: 40%;
    }
    
    .css img{
        width: 36%;
    }
    
    .cplusplus img{
        width: 40%;
    }
    
    .csharp img{
        width: 75%;
    }
    
    .kubernetes img{
        width: 60%;
    }
    
    .light img{
        width: 40%;
    }
    
    .mongodb img{
        width: 90%;
    }
    
    .photoshop img{
        width: 73%;
    }
    
    .python img{
        width: 40%;
    }
}

@media (min-width: 600px) {
    .skills {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* border: 1px solid black; */
        height: 70%;
        width: 100%;
        margin-top: 20px;
    }
    
    .skill {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 170px;
        min-width: 170px;
        border-radius: 20px;
        background-color: rgba(0,0,0,0.03);
        position: relative;
        filter: grayscale(100%);
        margin: 10px;
        transition: 0.5s;
    }
    
    .skill:hover {
        filter: grayscale(0%);
        min-height: 200px;
        min-width: 200px;

    }

    .skill:hover img {
        opacity: 100%;
    }
    
    .skill img {
        position: absolute;
        width: 50%;
        opacity: 60%;
    }
    
    .js img{
        width: 40%;
    }
    
    .css img{
        width: 36%;
    }
    
    .cplusplus img{
        width: 40%;
    }
    
    .csharp img{
        width: 75%;
    }
    
    .kubernetes img{
        width: 60%;
    }
    
    .light img{
        width: 40%;
    }
    
    .mongodb img{
        width: 90%;
    }
    
    .photoshop img{
        width: 73%;
    }
    
    .python img{
        width: 40%;
    }
}